<p>Stationery Shop</p>

<img src="assets/img/online-stationery-shop.png"class="center-block">


<div class="row">
    <div class="col-4">
        <h4>Notebooks</h4> <img src="assets/img/notebooks.jfif" width="250" height="250">
        <a href="/notebooks" >View</a> </div>
         
    <div class="col-4"><h4>Books</h4>
        <img src="assets/img/books.jpg" width="250" height="250">
      
        <a href="app/home/books">View</a>
    </div>
    <div class="col-4"><h4>SketchBooks</h4>
    <img src="assets/img/skb.jpg" width="250" height="250"> <a href="app/home/sketchbooks">View</a></div>
  </div>

  <div class="row">
    <div class="col-4"><h4>P&E&S</h4>
    <img src="assets/img/pse.jpg" width="250" height="250">
    <a href="app/home/pencils">View</a>
    </div>
    <div class="col-4"><h4>Pens</h4>
    <img src="assets/img/pens.webp" width="250" height="250"> <a href="app/home/pens">View</a></div>
    <div class="col-4"><h4>ColourPens</h4>
    <img src="assets/img/cp.jpg" width="250" height="250">
  <a href="app/home/colourpens">View</a></div>
  </div>

  <div class="row">
    <div class="col-4"><h4>Files&Floder</h4>
    <img src="assets/img/ff.jpg" width="250" height="250">View</div>
    <div class="col-4"><h4>Pencilcases</h4>
    <img src="assets/img/ps.jpg" width="250" height="250">View</div>
    <div class="col-4"><h4>Calulators</h4>
    <img src="assets/img/cp.jpg" width="250" height="250"> View</div>
  </div>

<footer>copyright2022</footer>