<form [formGroup]="deviceForm" (ngSubmit) ="onSubmit()">

<div>
<label for="name">
    Device Name
</label>
<input id="name" type="text" formControlName="name">

</div>

<div>


    <label for="price"> Price</label>
    <input id="price" type="number" formControlName="price">

</div>

<div>
<label for="companyname">Company Name</label>
<input id="companyname"
type="text" formControlName="companyname">
</div>

<button type="submit" [disabled]="!deviceForm.valid"> Submit</button>


<div *ngIf="name?.invalid && name?.touched" class="alert alert-danger">
    Name is required and must be more than 10 characters
</div>

<div *ngIf="price?.invalid && price?.touched" class="alert alert-danger">
Price written is requried and must be more than 10 characters</div>

<div *ngIf="companyname?.invalid && companyname?.touched" class="alert alert-danger">Company Name written is requried and must be more than 10 characters

</div>










</form>
